* {
  margin: 0;
  padding: 0;
  text-decoration: non;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}
.app {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  width: 250px;
  height: 300px;
  background-color: rgb(42, 42, 42);

  .title {
    font-size: 25px;
    font-weight: 700;
  }

  input {
    color: #000;
    padding: 2.5px;
    font-size: 18px;
  }

  span {
    font-size: 18px;
  }

  button {
    color: #000;
    font-size: 20px;
    padding: 1px;
  }
}